/* You can add global styles to this file, and also import other style files */
html {
    background: url(assets/Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}